body {
    background: linear-gradient(45deg, #D9ED92, #B5E48C, #99D98C, #76C893, #52B69A, #34A0A4, #168AAD, #1A759F, #1E6091, #184E77)
        

}
#firstpicture {
border-color:yellow;
border-width: 2px;
border-style:solid;
display:inline-block;
box-shadow: 10px 10px 10px yellow , 10px 10px 10px red;
}
.redlink:hover:hover {
    color:red;
}

.redlink:hover {
    color:red;
}

#form {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;

}
#logos {
    display:flex;
    flex-flow: row wrap-reverse;

}